::-moz-selection {
    background: #dcc6ae;
    color: #2a251f!important;
}

section {
    width: 100vw;
    padding: 15px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.example {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.operator {
    padding: 0 1ch;
}

input,
textarea {
    color: #f2a30a;
    transition: color .6s;
    background-color: rgba(0, 0, 0, .35);
    -webkit-box-shadow: 1px 1px 0 rgba(255, 225, 168, .1), inset 1px 1px 0 rgba(0, 0, 0, .5);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: text;
    resize: none;
    border: 0;
    text-align: center;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    min-width: 3ch;
    padding: 0 12px;
    height: 11vmin;
}