::selection {
  background: #dcc6ae;
  color: #2a251f!important;
}

main {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.question-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2ch;
  justify-content: space-around;
}

.question-item {
  display: flex;
  align-items: center;
}

.question-item > div {
  width: 2ch;
  text-align: right;
}

input,
textarea {
  color: #f2a30a;
  transition: color .6s;
  background-color: rgba(0, 0, 0, .35);
  box-shadow: 1px 1px 0 rgba(255, 225, 168, .1), inset 1px 1px 0 rgba(0, 0, 0, .5);
  border-radius: 3px;
  cursor: text;
  resize: none;
  border: 0;
  text-align: center;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  max-width: 3ch;
  padding: 0 12px;
  height: 11vmin;
  margin-left: 1ch;
  transition: all 0.6s;
}

.success {
  color: rgba(10, 242, 101, 0.4);
}

.error {
  color: rgba(242, 10, 10, 0.4);
}
