body {
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    display: flex;
    background-image: url(../public/images/main-bg.png);
    background-repeat: repeat;
    background-size: 48px;
    color: #dcc6ae;
    font-size: 11vmin;
    line-height: 15vh;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, .2);
    text-shadow: rgba(0, 0, 0, .4) 0.01em 0.01em 0, rgba(0, 0, 0, .3) 0.02em 0.02em 0, rgba(0, 0, 0, .2) 0.03em 0.03em 0, rgba(0, 0, 0, 0.1) 0.04em 0.04em 0;
    min-height: 100vh;
    margin: 0;
}
